SQLALCHEMY_DATABASE_URI = sqlite:///database.db
SECRET_KEY = thisisascretkey
SQLALCHEMY_TRACK_MODIFICATIONS = False

# mail server info
MAIL_SERVER = smtp.mail.yahoo.com
MAIL_PORT = 587
MAIL_USERNAME = tradefyteam@yahoo.com
MAIL_PASSWORD = cujpurlqjhgqydzk     # Use your generated App Password
MAIL_USE_TLS = True
MAIL_USE_SSL = False
MAIL_DEFAULT_SENDER = tradefyteam@yahoo.com



# Gemini Api Key
GEMINI_API_KEY = YourFreeGeminiApiKey


