alembic
bcrypt
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
itsdangerous
Jinja2
numpy
SQLAlchemy
Werkzeug
WTForms
pytest
pytest-flask
python-dotenv
psycopg2-binary
gunicorn