alembic
bcrypt
Flask
Flask-Bcrypt
Flask-Limiter
Flask-Limiter[redis]
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gunicorn
google-genai
itsdangerous
Jinja2
numpy
SQLAlchemy
Werkzeug
WTForms
pytest
pytest-flask
python-dotenv
psycopg2-binary

